*{
    box-sizing: border-box;
    font-family: 'Encode Sans Condensed', sans-serif;
    padding:0px;
    margin: 0px;
 }

/*.container{
    background: url(https://images.pexels.com/photos/459469/pexels-photo-459469.jpeg?cs=srgb&dl=basil-delicious-food-459469.jpg&fm=jpg) no-repeat;

}*/

body{
    color:black;
    background: #eee;
    padding-top: 60px;
    
}

h1{
    padding-bottom: 10px;  
    width: 100%;
    background: skyblue;
    margin: auto;
    position: fixed;
    top:0;
    left:0;
}
form{
    display: inline;
}

form,input,button{
    padding: 10px;
    overflow: hidden;
}
.ingredients{
    width: 66%;

}
.search{
    position: fixed;
    top:0;
    right:0;
    display: inline;
    padding: 10px;
}
.container{
    margin:auto;
    width: 75%;
    overflow:hidden;

}

li{
    list-style: none;
    
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.foodImage{

    width:33%;
    float: right;

}

.footer{
    padding-top: 200px;
}

/*li:nth-child(even){
    background: skyblue; 
}*/

.iframe_window{
    position: fixed;
    width:100vw;
    height:100vw;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    background:rgba(0,0,0,0.22);
    opacity: 0;
    pointer-events: none;
}
.iframe_window.show{
    pointer-events: initial;
    z-index: 100;
    opacity: 1;
}
.iframe_exit{
    position: absolute;
    z-index: 10000;
    top: 108px;
    right: 10px;
    /* filter: invert(1); */
    width: 100px;
    height: 100px;
    font-size: 80px;

}
.recipe {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
    width: 300px;
    padding: 1rem;
    vertical-align: top;
  }
  
  .recipe {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .recipe:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  ul{
      padding: 10px;
  }

  .instructions{
      padding: 10px;
      transition: all 1.25s;
      font-size: 4vw;
      text-align: justify;
      margin: 50px 5vw;
  }
  .instructions.shrink{
      font-size: 20px;
      
  }

  h1{
      padding: 10px;
  }

  @media screen and (max-width: 915px) {
    .recipe {
        width:100%;
        margin:1rem 0;
    }
    .container{
        width:100%;
    }
}

iframe{
    position: fixed;
    width:80vw;
    height:80vw;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    background: white;
}

.appendMovingDots:after {
    content: ' .';
    animation: dots 3s steps(1, end) infinite;
}
@keyframes dots {
    0%, 12.5% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    37.5% {
        text-shadow: .5em 0;
    }
    50% {
        text-shadow: .5em 0, 1em 0;
    }
    62.5% {
        text-shadow: .5em 0, 1em 0, 1.5em 0;
    }
    75% {
        text-shadow: .5em 0, 1em 0, 1.5em 0, 2em 0;
    }
    87.5%, 100%{
        text-shadow: .5em 0, 1em 0, 1.5em 0, 2em 0, 2.5em;
    }
}	